<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.zbx.dao.ArticleMainMapper" >
  <resultMap id="BaseResultMap" type="com.cn.zbx.pojo.ArticleMain" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
    <result column="classid" property="classid" jdbcType="INTEGER" />
    <result column="excerpt" property="excerpt" jdbcType="VARCHAR" />
    <result column="isfree" property="isfree" jdbcType="INTEGER" />
    <result column="nocomment" property="nocomment" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="makedate" property="makedate" jdbcType="TIMESTAMP" />
    <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.cn.zbx.pojo.ArticleMain" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARBINARY" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, imgurl, classid, excerpt, isfree, nocomment, state, makedate, modifydate
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from article_main
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from article_main
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.zbx.pojo.ArticleMain" keyProperty="id" useGeneratedKeys="true">
    insert into article_main (id, title, imgurl, 
      classid, excerpt, isfree, 
      nocomment, makedate, modifydate, 
      content, stste)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}, 
      #{classid,jdbcType=INTEGER}, #{excerpt,jdbcType=VARCHAR}, #{isfree,jdbcType=INTEGER}, 
      #{nocomment,jdbcType=INTEGER}, #{makedate,jdbcType=TIMESTAMP}, #{modifydate,jdbcType=TIMESTAMP}, 
      #{content,jdbcType=LONGVARBINARY}), #{stste,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.zbx.pojo.ArticleMain" keyProperty="id" useGeneratedKeys="true">
    insert into article_main
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="imgurl != null" >
        imgurl,
      </if>
      <if test="classid != null" >
        classid,
      </if>
      <if test="excerpt != null" >
        excerpt,
      </if>
      <if test="isfree != null" >
        isfree,
      </if>
      <if test="nocomment != null" >
        nocomment,
      </if>
      <if test="makedate != null" >
        makedate,
      </if>
      <if test="modifydate != null" >
        modifydate,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="classid != null" >
        #{classid,jdbcType=INTEGER},
      </if>
      <if test="excerpt != null" >
        #{excerpt,jdbcType=VARCHAR},
      </if>
      <if test="isfree != null" >
        #{isfree,jdbcType=INTEGER},
      </if>
      <if test="nocomment != null" >
        #{nocomment,jdbcType=INTEGER},
      </if>
      <if test="makedate != null" >
        #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARBINARY},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.zbx.pojo.ArticleMain" >
    update article_main
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgurl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="classid != null" >
        classid = #{classid,jdbcType=INTEGER},
      </if>
      <if test="excerpt != null" >
        excerpt = #{excerpt,jdbcType=VARCHAR},
      </if>
      <if test="isfree != null" >
        isfree = #{isfree,jdbcType=INTEGER},
      </if>
      <if test="nocomment != null" >
        nocomment = #{nocomment,jdbcType=INTEGER},
      </if>
      <if test="makedate != null" >
        makedate = #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="modifydate != null" >
        modifydate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARBINARY},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cn.zbx.pojo.ArticleMain" >
    update article_main
    set title = #{title,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      classid = #{classid,jdbcType=INTEGER},
      excerpt = #{excerpt,jdbcType=VARCHAR},
      isfree = #{isfree,jdbcType=INTEGER},
      nocomment = #{nocomment,jdbcType=INTEGER},
      makedate = #{makedate,jdbcType=TIMESTAMP},
      modifydate = #{modifydate,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=LONGVARBINARY},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.zbx.pojo.ArticleMain" >
    update article_main
    set title = #{title,jdbcType=VARCHAR},
      imgurl = #{imgurl,jdbcType=VARCHAR},
      classid = #{classid,jdbcType=INTEGER},
      excerpt = #{excerpt,jdbcType=VARCHAR},
      isfree = #{isfree,jdbcType=INTEGER},
      nocomment = #{nocomment,jdbcType=INTEGER},
      makedate = #{makedate,jdbcType=TIMESTAMP},
      modifydate = #{modifydate,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectCountByClassIds" resultType="com.cn.zbx.vo.TClassifyVO" parameterType="list" >
    select 
    	a.classid as classid,
    	count(a.id) as count 
    from article_main a 
    <where>
	    a.classid in
	    <foreach item="item" collection="list" separator="," open="(" close=")" index="">
	      #{item, jdbcType=INTEGER}
	    </foreach>
    </where>
    GROUP BY a.classid 
  </select>
  
  
  <select id="selectBySelectParam" resultType="com.cn.zbx.vo.ArticleVO" parameterType="com.cn.zbx.pojo.ArticleMain" >
    select 
    	<include refid="Base_Column_List" />
    from article_main  
    where 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="title != null" >
      and title like '%${title}%'
    </if>
    <if test="imgurl != null" >
      and imgurl = #{imgurl,jdbcType=VARCHAR}
    </if>
    <if test="classid != null" >
      and classid = #{classid,jdbcType=INTEGER}
    </if>
    <if test="excerpt != null" >
      and excerpt = #{excerpt,jdbcType=VARCHAR}
    </if>
    <if test="isfree != null" >
      and isfree = #{isfree,jdbcType=INTEGER}
    </if>
    <if test="nocomment != null" >
      and nocomment = #{nocomment,jdbcType=INTEGER}
    </if>
    <if test="makedate != null" >
      and makedate = #{makedate,jdbcType=TIMESTAMP}
    </if>
    <if test="state != null" >
      and state = #{state,jdbcType=INTEGER}
    </if>
    <if test="modifydate != null" >
      and modifydate = #{modifydate,jdbcType=TIMESTAMP}
    </if>
    <if test="content != null" >
      and content = #{content,jdbcType=LONGVARBINARY}
    </if>
    <if test="startLimit != null" >
      <if test="pageSize != null" >
     	 limit #{startLimit}, #{pageSize}
      </if>
    </if>
  </select>
  
   <select id="selectCountBySelectParam" resultType="Integer" parameterType="com.cn.zbx.pojo.ArticleMain" >
    select 
    	count(1)
    from article_main
    where 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="title != null" >
      and title like '%${title}%'
    </if>
    <if test="imgurl != null" >
      and imgurl = #{imgurl,jdbcType=VARCHAR}
    </if>
    <if test="classid != null" >
      and classid = #{classid,jdbcType=INTEGER}
    </if>
    <if test="excerpt != null" >
      and excerpt = #{excerpt,jdbcType=VARCHAR}
    </if>
    <if test="isfree != null" >
      and isfree = #{isfree,jdbcType=INTEGER}
    </if>
    <if test="nocomment != null" >
      and nocomment = #{nocomment,jdbcType=INTEGER}
    </if>
    <if test="makedate != null" >
      and makedate = #{makedate,jdbcType=TIMESTAMP}
    </if>
    <if test="state != null" >
      and state = #{state,jdbcType=INTEGER}
    </if>
    <if test="modifydate != null" >
      and modifydate = #{modifydate,jdbcType=TIMESTAMP}
    </if>
    <if test="content != null" >
      and content = #{content,jdbcType=LONGVARBINARY}
    </if>
  </select>
  
  <select id="selectClassifyByArticleId" resultType="java.util.Map" parameterType="Integer" >
    select 
    	a.id, 
    	a.title, 
    	c.cid, 
    	c.cname, 
    	c.pcid, 
    	c.pcname 
    from 
    	article_main a, 
    	(select 
    		c1.id as cid, 
    		c1.name as cname, 
    		c2.id as pcid, 
    		c2.name as pcname 
    	from 
    		tclassify c1, 
    		tclassify c2 
    	where 
    		c1.pid=c2.id 
    		and c1.level=2 
    		and c2.level=1
    	) c 
    where
    	c.cid=a.classid
    	<if test="id != null" >
	      and a.id = #{id,jdbcType=INTEGER}
	    </if>
  </select>
  
</mapper>