<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.zbx.dao.CommentMapper" >
  <resultMap id="BaseResultMap" type="com.cn.zbx.pojo.Comment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="comment" property="comment" jdbcType="VARCHAR" />
    <result column="commenttype" property="commenttype" jdbcType="INTEGER" />
    <result column="customer_id" property="customerId" jdbcType="INTEGER" />
    <result column="makedate" property="makedate" jdbcType="TIMESTAMP" />
    <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
    <result column="commenttoid" property="commentToId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, comment, commenttype, customer_id,commenttoid, makedate, modifydate, commenttoid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.zbx.pojo.Comment" keyProperty="id" useGeneratedKeys="true">
    insert into comment (id, title, comment, 
      commenttype, customer_id, makedate, 
      modifydate,commenttoid)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{comment,jdbcType=VARCHAR}, 
      #{commenttype,jdbcType=INTEGER}, #{customerId,jdbcType=INTEGER}, #{makedate,jdbcType=TIMESTAMP}, 
      #{modifydate,jdbcType=TIMESTAMP}),#{commentToId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.cn.zbx.pojo.Comment" keyProperty="id" useGeneratedKeys="true">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="comment != null" >
        comment,
      </if>
      <if test="commenttype != null" >
        commenttype,
      </if>
      <if test="customerId != null" >
        customer_id,
      </if>
      <if test="makedate != null" >
        makedate,
      </if>
      <if test="modifydate != null" >
        modifydate,
      </if>
      <if test="commentToId != null" >
        commenttoid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        #{comment,jdbcType=VARCHAR},
      </if>
      <if test="commenttype != null" >
        #{commenttype,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        #{customerId,jdbcType=INTEGER},
      </if>
      <if test="makedate != null" >
        #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="commentToId != null" >
        #{commentToId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.zbx.pojo.Comment" >
    update comment
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="comment != null" >
        comment = #{comment,jdbcType=VARCHAR},
      </if>
      <if test="commenttype != null" >
        commenttype = #{commenttype,jdbcType=INTEGER},
      </if>
      <if test="customerId != null" >
        customer_id = #{customerId,jdbcType=INTEGER},
      </if>
      <if test="makedate != null" >
        makedate = #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        modifydate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
      <if test="commentToId != null" >
        commenttoid = #{commentToId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.zbx.pojo.Comment" >
    update comment
    set title = #{title,jdbcType=VARCHAR},
      comment = #{comment,jdbcType=VARCHAR},
      commenttype = #{commenttype,jdbcType=INTEGER},
      customer_id = #{customerId,jdbcType=INTEGER},
      makedate = #{makedate,jdbcType=TIMESTAMP},
      modifydate = #{modifydate,jdbcType=TIMESTAMP},
      commenttoid = #{commentToId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectCountBySelectParam" resultType="int" parameterType="com.cn.zbx.pojo.Comment" >
    select 
    	count(1)
    from comment com, customer cus
    where com.customer_id = cus.id
    <if test="id != null" >
      and com.id = #{id,jdbcType=INTEGER}
    </if>
    <if test="title != null" >
      and com.title = #{title,jdbcType=VARCHAR}
    </if>
    <if test="comment != null" >
      and com.comment = #{comment,jdbcType=VARCHAR}
    </if>
    <if test="commenttype != null" >
      and com.commenttype = #{commenttype,jdbcType=INTEGER}
    </if>
    <if test="customerId != null" >
      and com.customer_id = #{customerId,jdbcType=INTEGER}
    </if>
    <if test="makedate != null" >
      and com.makedate = #{makedate,jdbcType=TIMESTAMP}
    </if>
    <if test="modifydate != null" >
      and com.modifydate = #{modifydate,jdbcType=TIMESTAMP}
    </if>
    <if test="commentToId != null" >
      and com.commenttoid = #{commentToId,jdbcType=TIMESTAMP}
    </if>
  </select>
  
  <select id="selectBySelectParam" resultType="com.cn.zbx.vo.CommentVO" parameterType="com.cn.zbx.pojo.Comment" >
    select 
    	com.id, 
    	com.title, 
    	com.comment, 
    	com.commenttype, 
    	com.customer_id as customerId, 
    	cus.name as customerName,
    	com.makedate, 
    	com.modifydate,
    	com.commenttoid as commentToId
    from comment com, customer cus
    where com.customer_id = cus.id
    <if test="id != null" >
      and com.id = #{id,jdbcType=INTEGER}
    </if>
    <if test="title != null" >
      and com.title = #{title,jdbcType=VARCHAR}
    </if>
    <if test="comment != null" >
      and com.comment = #{comment,jdbcType=VARCHAR}
    </if>
    <if test="commenttype != null" >
      and com.commenttype = #{commenttype,jdbcType=INTEGER}
    </if>
    <if test="customerId != null" >
      and com.customer_id = #{customerId,jdbcType=INTEGER}
    </if>
    <if test="makedate != null" >
      and com.makedate = #{makedate,jdbcType=TIMESTAMP}
    </if>
    <if test="modifydate != null" >
      and com.modifydate = #{modifydate,jdbcType=TIMESTAMP}
    </if>
    <if test="commentToId != null" >
      and com.commenttoid = #{commentToId,jdbcType=INTEGER}
    </if>
    order by com.makedate desc 
    <if test="startLimit != null" >
      <if test="pageSize != null" >
     	 limit #{startLimit}, #{pageSize}
      </if>
    </if>
  </select>
  
  <select id="selectByArticleId" resultType="int" parameterType="java.lang.Integer" >
    select 
    	count(1)
    from comment 
    where  commenttoid = #{commentToId,jdbcType=INTEGER} and commenttype = '1'
  </select>
</mapper>