<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.zbx.dao.KeyWordsMapper" >
  <resultMap id="BaseResultMap" type="com.cn.zbx.pojo.KeyWords" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="excerpt" property="excerpt" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="INTEGER" />
    <result column="makedate" property="makedate" jdbcType="TIMESTAMP" />
    <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, excerpt, state, makedate, modifydate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from keywords
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from keywords
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.zbx.pojo.KeyWords" >
    insert into keywords (id, name, excerpt, 
      state, makedate, modifydate
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{excerpt,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{makedate,jdbcType=TIMESTAMP}, #{modifydate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.zbx.pojo.KeyWords" >
    insert into keywords
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="excerpt != null" >
        excerpt,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="makedate != null" >
        makedate,
      </if>
      <if test="modifydate != null" >
        modifydate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="excerpt != null" >
        #{excerpt,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
      <if test="makedate != null" >
        #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.zbx.pojo.KeyWords" >
    update keywords
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="excerpt != null" >
        excerpt = #{excerpt,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
      <if test="makedate != null" >
        makedate = #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        modifydate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.zbx.pojo.KeyWords" >
    update keywords
    set name = #{name,jdbcType=VARCHAR},
      excerpt = #{excerpt,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER},
      makedate = #{makedate,jdbcType=TIMESTAMP},
      modifydate = #{modifydate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectCountBySelectParam" resultType="int" parameterType="com.cn.zbx.pojo.KeyWords" >
    select 
		count(1)
	from keywords 
    where 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="name != null" >
      and name like '%${name}%'
    </if>
    <if test="excerpt != null" >
      and excerpt = #{excerpt,jdbcType=VARCHAR}
    </if>
    <if test="state != null" >
      and state = #{state,jdbcType=INTEGER}
    </if>
    <if test="makedate != null" >
      and makedate = #{makedate,jdbcType=TIMESTAMP}
    </if>
    <if test="modifydate != null" >
      and modifydate = #{modifydate,jdbcType=TIMESTAMP}
    </if>
  </select>
  
  <select id="selectBySelectParam" resultType="com.cn.zbx.vo.KeyWordsVO" parameterType="com.cn.zbx.pojo.KeyWords" >
    select 
		kw.*,
		(select count(1) from keyrelation kr where kr.keywordsid=kw.id and kr.relationtype='1') as articleCount,
		(select count(1) from keyrelation kr where kr.keywordsid=kw.id and kr.relationtype='2') as videoCount
	from keywords kw 
    where 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="name != null" >
      and name like '%${name}%'
    </if>
    <if test="excerpt != null" >
      and excerpt = #{excerpt,jdbcType=VARCHAR}
    </if>
    <if test="state != null" >
      and state = #{state,jdbcType=INTEGER}
    </if>
    <if test="makedate != null" >
      and makedate = #{makedate,jdbcType=TIMESTAMP}
    </if>
    <if test="modifydate != null" >
      and modifydate = #{modifydate,jdbcType=TIMESTAMP}
    </if>
    order by kw.id asc 
    <if test="startLimit != null" >
      <if test="pageSize != null" >
     	 limit #{startLimit}, #{pageSize}
      </if>
    </if>
  </select>
</mapper>