<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.zbx.dao.PriceMapper" >
  <resultMap id="BaseResultMap" type="com.cn.zbx.pojo.Price" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="play_number" property="playNumber" jdbcType="INTEGER" />
    <result column="sum_price" property="sumPrice" jdbcType="DOUBLE" />
    <result column="again_pay_days" property="againPayDays" jdbcType="INTEGER" />
    <result column="makedate" property="makedate" jdbcType="TIMESTAMP" />
    <result column="modifydate" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, type, product_id, price, play_number, sum_price, again_pay_days, makedate, modifydate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from price
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from price
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.zbx.pojo.Price" >
    insert into price (id, type, product_id, 
      price, play_number, sum_price, 
      again_pay_days, makedate, modifydate
      )
    values (#{id,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{price,jdbcType=DOUBLE}, #{playNumber,jdbcType=INTEGER}, #{sumPrice,jdbcType=DOUBLE}, 
      #{againPayDays,jdbcType=INTEGER}, #{makedate,jdbcType=TIMESTAMP}, #{modifydate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.zbx.pojo.Price" >
    insert into price
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="playNumber != null" >
        play_number,
      </if>
      <if test="sumPrice != null" >
        sum_price,
      </if>
      <if test="againPayDays != null" >
        again_pay_days,
      </if>
      <if test="makedate != null" >
        makedate,
      </if>
      <if test="modifydate != null" >
        modifydate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="playNumber != null" >
        #{playNumber,jdbcType=INTEGER},
      </if>
      <if test="sumPrice != null" >
        #{sumPrice,jdbcType=DOUBLE},
      </if>
      <if test="againPayDays != null" >
        #{againPayDays,jdbcType=INTEGER},
      </if>
      <if test="makedate != null" >
        #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.zbx.pojo.Price" >
    update price
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="playNumber != null" >
        play_number = #{playNumber,jdbcType=INTEGER},
      </if>
      <if test="sumPrice != null" >
        sum_price = #{sumPrice,jdbcType=DOUBLE},
      </if>
      <if test="againPayDays != null" >
        again_pay_days = #{againPayDays,jdbcType=INTEGER},
      </if>
      <if test="makedate != null" >
        makedate = #{makedate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifydate != null" >
        modifydate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.zbx.pojo.Price" >
    update price
    set type = #{type,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      price = #{price,jdbcType=DOUBLE},
      play_number = #{playNumber,jdbcType=INTEGER},
      sum_price = #{sumPrice,jdbcType=DOUBLE},
      again_pay_days = #{againPayDays,jdbcType=INTEGER},
      makedate = #{makedate,jdbcType=TIMESTAMP},
      modifydate = #{modifydate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectCountBySelectParam" resultType="int" parameterType="com.cn.zbx.pojo.Price" >
    select 
    	count(1)
    from Price 
    where 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="type != null" >
      and type = #{type,jdbcType=INTEGER}
    </if>
    <if test="productId != null" >
      and product_id = #{productId,jdbcType=INTEGER}
    </if>
    <if test="price != null" >
      and price = #{price,jdbcType=DOUBLE}
    </if>
    <if test="playNumber != null" >
      and play_number = #{playNumber,jdbcType=INTEGER}
    </if>
    <if test="sumPrice != null" >
      and sum_price = #{sumPrice,jdbcType=DOUBLE}
    </if>
    <if test="againPayDays != null" >
      and again_pay_days = #{againPayDays,jdbcType=INTEGER}
    </if>
    <if test="makedate != null" >
      and makedate = #{makedate,jdbcType=TIMESTAMP}
    </if>
    <if test="modifydate != null" >
      and modifydate = #{modifydate,jdbcType=TIMESTAMP}
    </if>
  </select>
  
  <select id="selectPriceBySelectParam" resultType="com.cn.zbx.pojo.Price" parameterType="com.cn.zbx.pojo.Price" >
    select *
    from Price 
    where 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="type != null" >
      and type = #{type,jdbcType=INTEGER}
    </if>
    <if test="productId != null" >
      and product_id = #{productId,jdbcType=INTEGER}
    </if>
    <if test="price != null" >
      and price = #{price,jdbcType=DOUBLE}
    </if>
    <if test="playNumber != null" >
      and play_number = #{playNumber,jdbcType=INTEGER}
    </if>
    <if test="sumPrice != null" >
      and sum_price = #{sumPrice,jdbcType=DOUBLE}
    </if>
    <if test="againPayDays != null" >
      and again_pay_days = #{againPayDays,jdbcType=INTEGER}
    </if>
    <if test="makedate != null" >
      and makedate = #{makedate,jdbcType=TIMESTAMP}
    </if>
    <if test="modifydate != null" >
      and modifydate = #{modifydate,jdbcType=TIMESTAMP}
    </if>
    order by makedate desc 
    <if test="startLimit != null" >
      <if test="pageSize != null" >
     	 limit #{startLimit}, #{pageSize}
      </if>
    </if>
  </select>
  
</mapper>