<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.zbx.dao.StatisticsMapper" >
  <resultMap id="BaseResultMap" type="com.cn.zbx.pojo.BLog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_type" property="productType" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, productId, productType, create_date
  </sql>
  <select id="selectBySelectParam" resultMap="BaseResultMap" parameterType="com.cn.zbx.pojo.BLog" >
    select 
    <include refid="Base_Column_List" />
    from blog
    where 1=1
    <if test="id != null" >
    id = #{id,jdbcType=INTEGER}
    </if>
    <if test="userId != null" >
      and user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="commentToId != null" >
      and product_id = #{productId,jdbcType=INTEGER}
    </if>
    <if test="productType != null" >
      and product_type = #{productType,jdbcType=INTEGER}
    </if>
    <if test="createDate != null" >
      and create_date = #{createDate,jdbcType=TIMESTAMP}
    </if>
  </select>
  <insert id="insert" parameterType="com.cn.zbx.pojo.BLog" keyProperty="id" useGeneratedKeys="true">
    insert into blog (id, user_id, 
    	product_id, product_type, create_date)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{productType,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <select id="selectCountBySelectParam" resultType="int" parameterType="com.cn.zbx.pojo.BLog" >
    select 
    	count(1)
    from blog
    where 1=1
    <if test="id != null" >
      and id = #{id,jdbcType=INTEGER}
    </if>
    <if test="userId != null" >
      and user_id = #{userId,jdbcType=INTEGER}
    </if>
    <if test="productId != null" >
      and product_id = #{productId,jdbcType=INTEGER}
    </if>
    <if test="productType != null" >
      and product_type = #{productType,jdbcType=INTEGER}
    </if>
    <if test="createDate != null" >
      and create_date = #{createDate,jdbcType=TIMESTAMP}
    </if>
   
  </select>
<!-- 文章视频访问量统计 -->
   <select id="selectDateAndCount" resultType="string" parameterType="com.cn.zbx.vo.LogVO" >
     select  function_statistics(#{startDate},#{endDate},#{dateType},#{productType}) from dual;
  </select>
<!-- 点击视频与购买视频统计 -->
   <select id="selectCusBuyHistoryByDateAndCount" resultType="string" parameterType="com.cn.zbx.vo.LogVO" >
     select  function_cusbuyhistory(#{startDate},#{endDate},#{dateType},#{productType}) from dual;
  </select>
  <!-- 效益统计 -->
   <select id="selectPayMoneyByDateAndCount" resultType="string" parameterType="com.cn.zbx.vo.LogVO" >
     select  function_paymoney(#{startDate},#{endDate},#{dateType},#{productType}) from dual;
  </select>
</mapper>