@CHARSET "UTF-8";
body, p, ul, li, dl, dd {
	margin:0;
}
ul {
	padding:0;
}
* {
	font-family:"Microsoft Yahei", Arial, Helvetica, sans-serif;
}
input {
	border:none;
}
img, p {
	display:block;
}
li {
	list-style:none;
}
a {
	text-decoration:none;
	display:block;
	cursor:pointer;
}
body {
	background-color:#2970e4;
}
.wenzi {
	width:446px;
	height:47px;
	margin:auto;
	margin-top:60px;
	font-size:36px;
	color:#FFF;
	padding-left:36px;
}
.header {
	font-size:22px;
	color:#FFF;
	text-align:center;
	margin-top:6px;
}
.box {
	background-color:#FFF;
	width:500px;
	height:320px;
	border-radius:6px;
	margin:auto;
	margin-top:30px;
}
.box input {
	width:325px;
	height:45px;
	line-height:45px;
	border:1px solid #2970e4;
	/* color:#ccc; */
	font-size:18px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.submit-input{
	height:45px;
	border:1px solid #2970e4;
	color:#ccc;
	font-size:18px;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}
.kuang {
	margin:auto;
	width:372px;
	padding-top:20px;
}
.cloud {
	width:100%;
	height:475px;
	margin:auto;
	margin-top:-147px;
	background-image:url(../images/cloud.png);
	background-repeat:repeat-x;
}
.user {
	margin:0px auto;
	width:390px;
	height:50px;
	margin-top:25px;
}
.password01 {
	margin:0px auto;
	width:390px;
	height:50px;
	margin-top:18px;
	
}
.tag {
	width:47px;
	height:47px;
	border:1px solid #2970e4;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	float:left;
	background:#2970e4;
}
.tag img {
	margin:auto;
	margin-top:13px;
}
.model {
	width:325px;
	height:47px;
	float:left;
	background:#2970e4;	
}
.dianji{ 
	width:390px;
	overflow:hidden; 
	margin:auto;
}
.yes{
	width:24px;
	height:24px; 
	background-color:#2970e4; 
	float:left;
	border-radius:4px;
	margin-top:35px;
}
.mima{
	font-size:18px;
	color:#666; 
	float:left;
	margin-top:36px;
	margin-left:10px;
}
.login{
	font-size:18px; 
	color:#FFF;
	background-color:#2970e4; 
	width:120px; 
	height:46px; 
	border-radius:4px; 
	text-align:center;
	line-height:46px;
	float:right;
	margin-top:25px;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #2970e4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #2970e4;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #2970e4;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #2970e4;
}
.captcha_div{
	position:relative;
	width: 100%;
	height: 50px;
	overflow: visible;
	float: left;
}
.captcha_pic{
	margin: 15px 73px 0 63px;
	position:relative;
	float: left;
	width: 380px;
	margin-bottom: 10px; 
	display: none;
	top: -133px;
}
.captcha_big{
	float: left;
}
.captcha_big img{
	border-radius:10px; 
}
.captcha_lit{
	position: absolute;
}
.captcha_but{
	margin: 15px 73px 0 63px;
	position:absolute;
	float: left;
	width: 380px;
}
.captcha_sav{
	background: #f9f9f9 none repeat scroll 0 0;
	float: left;
	width: 100%;
	height: 35px;
	border: 1px solid #cbcbcb;
	border-radius: 20px;
	text-align: center;
}
.captcha_img{
	float: left;
	margin: 0 0 0 1px;
	position: absolute;
	cursor: pointer;
}
.alpha{
	filter: alpha(opacity=70); 
	opacity: 0.7;
}
